.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: 0px;
  margin-top: 25px; }
  .navbar-default .navbar-brand {
    color: #ecf0f1; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #CCC; }
  .navbar-default .navbar-text {
    color: #ecf0f1; }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #CCC; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #CCC;
    background-color: transparent; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #CCC;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: transparent; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ecf0f1; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1; }
  .navbar-default .navbar-link {
    color: #ecf0f1; }
    .navbar-default .navbar-link:hover {
      color: #CCC; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #CCC; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #CCC;
    background-color: transparent; } }
.navbar_menu {
  font-family: 'cs_chatthairegular';
  font-size: 25px; }

@media (min-width: 767px) {
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 80px;
    font-size: 18px;
    line-height: 20px; }

  .navbar-left {
    float: left !important;
    margin-top: 10px; }

  .navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-top: 10px; }

  .navbar_menu {
    font-family: 'cs_chatthairegular';
    font-size: 24px; }

  .navbar_menu b {
    font-family: 'cs_chatthairegular';
    font-size: 22px; } }
@media (max-width: 767px) {
  .navbar-default {
    background-color: rgba(15, 15, 15, 0.88);
    border-color: #080808;
    margin-top: 0px; }

  .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 20px;
    font-size: 18px;
    line-height: 20px; }

  .navbar_loago {
    width: 70px;
    height: auto; }

  .navbar_menu {
    font-family: 'cs_chatthairegular';
    font-size: 18px; } }
