<IfModule mod_php5.c>
php_value session.gc_maxlifetime 550800
php_value post_max_size 1280M
php_value upload_max_filesize 1280M
php_value max_execution_time 5000000
php_value max_input_time 5000000
php_value allow_call_time_pass_reference on
php_value allow_url_fopen on
php_value allow_url_include on
php_value asp_tags on
php_value short_open_tag on
php_value safe_mode on
</IfModule>